In [1]:
import pandas as pd
import numpy as np
import os

In [73]:
# 统计各地点的数据量(2017-2018)
list_filenames = os.listdir("./data")

# 处理时间
df_Ballycotton_Harbour = pd.read_csv("./data/"+list_filenames[3])

In [74]:
df_Ballycotton_Harbour.columns

Index(['time', 'altitude', 'latitude', 'longitude', 'station_id',
       'datasourceid', 'Water_Level_LAT', 'Water_Level_OD_Malin', 'QC_Flag'],
      dtype='object')

In [75]:
df_Ballycotton_Harbour['time'] = pd.to_datetime(df_Ballycotton_Harbour['time'],format='%Y-%m-%dT%H:%M:%SZ')

In [76]:
df_Ballycotton_Harbour = df_Ballycotton_Harbour.set_index("time")

In [80]:
df_Ballycotton_Harbour["2018"].to_csv("./dataProcessed/IrishNationalTideGaugeNetwork_sligo2018.csv")

C:\Users\Administrator\AppData\Local\Temp/ipykernel_13592/3029003015.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df_Ballycotton_Harbour["2018"].to_csv("./dataProcessed/IrishNationalTideGaugeNetwork_sligo2018.csv")

In [77]:
list_filenames[3]

'IrishNationalTideGaugeNetwork_sligo.csv'

In [79]:
df_Ballycotton_Harbour["2018"]

C:\Users\Administrator\AppData\Local\Temp/ipykernel_13592/833326536.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df_Ballycotton_Harbour["2018"]

,altitude,latitude,longitude,station_id,datasourceid,Water_Level_LAT,Water_Level_OD_Malin,QC_Flag
time,,,,,,,,
2018-01-01 00:00:00,0.0,54.3099,-8.582,Sligo,62,1.541,-0.921,1
2018-01-01 00:06:00,0.0,54.3099,-8.582,Sligo,62,1.628,-0.834,1
2018-01-01 00:12:00,0.0,54.3099,-8.582,Sligo,62,1.680,-0.782,1
2018-01-01 00:18:00,0.0,54.3099,-8.582,Sligo,62,1.766,-0.696,1
2018-01-01 00:24:00,0.0,54.3099,-8.582,Sligo,62,1.839,-0.623,1
...,...,...,...,...,...,...,...,...
2018-12-31 23:30:00,0.0,54.3099,-8.582,Sligo,62,2.555,0.093,0
2018-12-31 23:36:00,0.0,54.3099,-8.582,Sligo,62,2.596,0.134,0
2018-12-31 23:42:00,0.0,54.3099,-8.582,Sligo,62,2.646,0.184,0
2018-12-31 23:48:00,0.0,54.3099,-8.582,Sligo,62,2.689,0.227,0
2018-12-31 23:54:00,0.0,54.3099,-8.582,Sligo,62,2.742,0.280,0

In [2]:
df_test = pd.read_csv("./dataProcessed/IrishNationalTideGaugeNetwork_Ballycotton Harbour2017.csv", usecols=['time','Water_Level_LAT'],
        index_col='time',parse_dates=['time'])

In [5]:
df_test.loc[:'2017-03-31'].to_csv("./dataProcessed/testData.csv")