In [1]:
import pandas as pd
import numpy as np
import os

In [5]:
# 统计各地点的基本信息
# 加载数据
df_Ballycotton = pd.read_csv("./dataProcessed/IrishNationalTideGaugeNetwork_Ballycotton Harbour2017.csv",encoding = "utf-8",index_col=['time'],parse_dates = ["time"],usecols = ['time','Water_Level_LAT'])
df_Ballyglass = pd.read_csv("./dataProcessed/IrishNationalTideGaugeNetwork_Ballyglass Harbour2017.csv",encoding = "utf-8",index_col=['time'],parse_dates = ["time"],usecols = ['time','Water_Level_LAT'])
df_Castletownbere = pd.read_csv("./dataProcessed/IrishNationalTideGaugeNetwork_Castletownbere Port2017.csv",encoding = "utf-8",index_col=['time'],parse_dates = ["time"],usecols = ['time','Water_Level_LAT'])
df_Galway = pd.read_csv("./dataProcessed/IrishNationalTideGaugeNetwork_Galway Port2017.csv",encoding = "utf-8",index_col=['time'],parse_dates = ["time"],usecols = ['time','Water_Level_LAT'])
df_Howth = pd.read_csv("./dataProcessed/IrishNationalTideGaugeNetwork_Howth Harbour2017.csv",encoding = "utf-8",index_col=['time'],parse_dates = ["time"],usecols = ['time','Water_Level_LAT'])

In [6]:
# Howth Harbour
df_Howth.describe()

       Water_Level_LAT
count     21574.000000
mean          2.886954
std           1.115252
min           0.447000
25%           1.917000
50%           2.917000
75%           3.857000
max           5.177000

In [7]:
# Ballycotton Harbour
df_Ballycotton.describe()

       Water_Level_LAT
count     19284.000000
mean          2.456307
std           1.077180
min           0.277000
25%           1.511000
50%           2.443000
75%           3.393000
max           4.848000

In [8]:
# Ballyglass Harbour
df_Ballyglass.describe()

       Water_Level_LAT
count     21596.000000
mean          2.357428
std           0.931171
min           0.164000
25%           1.608000
50%           2.341000
75%           3.102000
max           4.625000

In [9]:
# Galway Port
df_Galway.describe()

       Water_Level_LAT
count     21599.000000
mean          3.457962
std           1.242427
min           0.590000
25%           2.482500
50%           3.441000
75%           4.458000
max           6.160000

In [11]:
df_Castletownbere.describe()

       Water_Level_LAT
count      8637.000000
mean          2.315761
std           0.875282
min           0.481000
25%           1.591000
50%           2.271000
75%           3.041000
max           4.301000